@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --active-link: #3b82f6;
    --pending-link: var(--active-link);
}

a.active, a.active * {
    color: var(--active-link) !important;
}

a.pending, a.pending * {
    color: var(--pending-link) !important;
}
